.list-bar{
    margin-left: 30px;
    margin-right: 30px;
}

.comment-bar{
    background-color: orange;
    color: white;
    padding: 5px;
    font-weight: bold; 
}

.comment-bar a{
    padding-right: 40px;
}

.header{
    color: blue;
    font-family: "Arial", sans-serif;
    font-weight: lighter;
}

.postbox{
    margin-top: 20px;
}